* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.contenedor {
    background-color: rosybrown;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.caja{
    border: 2px solid black;
    background-color: blue;
    color: aqua;
    height: 100px;
    /*width: 100px;*/
    margin: 2px;
    text-align: center;
}

#caja1{flex-grow: 1; }
#caja2{flex-grow: 2; }
#caja3{flex-grow: 3; }
#caja4{flex-grow: 4; }
/*tabla de propiedades FlexBox*/
/*@media screen and (max-width: 400px) and (max-width: 800px){
    #caja4{
        clear: left;
    }
    .caja{
        width: calc((100% / 3) - 4px);
    }
}
@media screen and (max-width: 399px){
    .caja{
        clear: left;
        width: calc(100% - 4px); 
    }
}